*, *::before, *::after{
  box-sizing: border-box;

  /* Primary Colors */
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue: hsl(245, 75%, 52%);

  /* Neutural Colors  */
  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-dark-blue: hsl(223, 47%, 23%);

  font-size: 16px;
}
body{
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
  background-color: var(--clr-pale-blue);
  background-image: url("./images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;  
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.wrapper {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  width: min-content;
  background-color: white;
  border-radius: .8rem;
}
.header img{
  width: 350px ;
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
}
p {
  text-align: center;
}
.order{
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--clr-dark-blue);
}
.content{
  font-size: .85rem;
  font-weight: 500;
  color: var(--clr-desaturated-blue);
  padding: 0 2rem;
}
.plan {
  background-color: var(--clr-very-pale-blue);
  margin: 0 2rem;
  border-radius: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 1rem;
  position: relative;
}
.price img{
  width: 45px;
  margin: 1rem;
  
}
.price::after{
  content: '$59.99/year';
  position: absolute;
  margin-top: 3rem;
  left: 3rem;
}