*,
*::before,
*::after {
  box-sizing: border-box;

  /* Primary Colors */
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue: hsl(245, 75%, 52%);

  /* Neutural Colors  */
  --clr-very-pale-blue: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-dark-blue: hsl(223, 47%, 23%);

  font-size: 16px;
}
body {
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
  background-color: var(--clr-pale-blue);
  background-image: url("./images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* margin-top: 20px; */
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  background-color: white;
  border-radius: 0.8rem;
}
.header img {
  width: 350px;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
p {
  text-align: center;
}
.order {
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--clr-dark-blue);
}
.content {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--clr-desaturated-blue);
  padding: 0 2rem;
}
.plan {
  background-color: var(--clr-very-pale-blue);
  margin: 0 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  display: flex;
  align-items: center;
  font-size: 1rem;
  position: relative;
}
.price img {
  width: 45px;
  margin: 1rem;
}
.price-plan {
  display: block;
  justify-content: center;
  align-items: center;
}
.price-plan p {
  margin: 0;
  padding: 0.2rem 0;
}
.plan-name {
  color: var(--clr-dark-blue);
  font-weight: 900;
}
.plan-price {
  color: var(--clr-desaturated-blue);
  font-weight: 500;
}
p a {
  margin-right: 1rem;
  font-weight: 900;
  font-size: 0.85rem;
}
.payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.payment .btn {
  margin: 2rem 2rem;
  border-radius: 0.5rem;
  width: calc(100% - 4rem);
  height: 3rem;
  outline: none;
  background-color: var(--clr-bright-blue);
  color: white;
  font-weight: 900;
  font-family: inherit;
  border: 1px solid transparent;
  box-shadow: 0px 15px 10px var(--clr-pale-blue);
}
.cancel {
  margin-bottom: 3rem;
  text-decoration: none;
  font-weight: 900;
  color: var(--clr-desaturated-blue);
}
